textarea#post_content, textarea#comment_content, textarea#user_description {
  height: 20em;
}

div#unaccept-friend, div#friend, div#wait-friend {
  min-height: 180px;
}

#site-title {
  margin-left: 60px;
}